<header class="navbar fixed-top bg-grey">
  <span>Smart Fridge</span>
</header>
<section class="display-section mt-5">
  <div class="row">
    <nav class="col-md-3 col-lg-2 text-center bg-light-grey sidebar">
      <div class="sidebar-sticky">
        <ng-container *ngIf="fridge_items">
          <h3>Current Item Types in Fridge</h3>
          <ol class="list-unstyled">
            <li *ngFor="let category of fridge_items">{{category.itemType | titlecase }}</li>
          </ol>
        </ng-container>

        <ul class="list-unstyled">
          <li>
            <a href="javascript:;" (click)="getItemsWithLowFill()">Grocery List</a>
          </li>
        </ul>
        <br/>
        <h6 *ngIf="nothing_in_grocery_list">Inventory is good!</h6>
        <ng-container *ngIf="grocery_list.length > 0">
          <h6>Items with low inventory</h6>
          <ul class="list-unstyled">
            <li *ngFor="let item of grocery_list">
              {{item.itemType}} - {{item.fillFactor}}% left
            </li>
          </ul>
        </ng-container>
      </div>
    </nav>
    <main class="col-md-9 col-lg-10 ml-auto p-3">
      <ng-container *ngIf="fridge_items.length > 0">
        <app-stored-items (updated_universal_fridge_items)="updateUniversalItemsList($event)" [universal_fridge_items]="fridge_items" [get_new_item_out]="get_new_item_out"></app-stored-items>
      </ng-container>
    </main>
  </div>
</section>
